main {
    height: 100vh;
    text-align: center;
    color: var(--text);
    transition: background-color 1s;
}
h1 {
    font-family: 'Major Mono Display', monospace;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
}

h2 {
    font-variant: petite-caps;
    font-weight: normal;
    text-transform: capitalize;
}

h3 {
    font-weight: lighter;
    color: var(--text-heavy);
}

header {
    height: var(--header-expanded-height, 8rem);
    position: relative;
    width: 100%;
    transition: height 2s, opacity 2s;
}

header.contracted {
    height: var(--header-contracted-height, 28vh);
}

header.expanded {
    height: var(--header-expanded-height, 28vh);
}

header.hidden {
    opacity: 0;
}

a:focus, input:focus {
    outline: none;
}

section {
    width: min(22rem, 100vw);
    margin: 0 auto;
}

.night {
    background-color: var(--night-bg);
    --accent: var(--night-accent);
}

.day {
    background-color: var(--day-bg);
    --accent: var(--day-accent);
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.messages {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}


@media (height < 600px) {
    :root {
        --header-expanded-height: 28vh;
        --header-contracted-height: 8rem;
    }
}

@media (height >= 600px) {
    :root {
        --header-expanded-height: 40vh;
        --header-contracted-height: 8rem;
    }
}
